.component {
  display: flex;
}

.left-frame, .right-frame {
  min-height:600px;
  max-height:600px;
  min-width:500px;
  max-width:500px;
  border: 1px solid black;
  flex: auto;
  padding-left: 10px;
}

textarea {
  min-width: 480px;
  max-width: 480px;
  min-height: 500px;
  max-height: 500px;
}

button {
  display:inline-block;
}
